@model HKQTravellingAuthenication.Models.Tour.TourTypes

@{
    ViewData["Title"] = "Cập nhật loại tour";
    Layout = "_Layout";
}

@* @section Breadcrumb {
    @{
        ViewData["BreadcrumbTitle"] = "Edit for start location";
    }
} *@

<h2>Edit</h2>

<h4>TourTypes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="TourTypesAdministrator" asp-area="Tour" method="post">
            <input type="hidden" asp-for="TourTypeId" />
            <div class="form-group">
                <label asp-for="TourTypeName" class="control-label"></label>
                <input asp-for="TourTypeName" class="form-control" name="TourTypeName" value="@Model.TourTypeName" />
                <p class="text-danger">@ViewData["validation_message"]</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "TourTypesAdministrator", new { area = "Tour" })">Back to List</a>
</div>

